:root {
  --primary-color: rgb(255, 127, 42);
  --bg-color: #212121;
}

h2,
h3,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
}

.logo {
  text-transform: capitalize;
  flex-direction: column;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2rem;
}

#jogos {
  color: white;
  margin-left: 5px;
}

.logo span {
  color: var(--primary-color);
}

.menu {
  cursor: pointer;
  transition: 0.3s all ease;
  width: 2rem;
  height: 2rem;

  &:hover {
    color: var(--primary-color);
  }
}

.sidebar {
  margin: 0;
  padding: 20px;
  display: none;
  flex-direction: column;
  list-style: none;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  height: 100lvh;
  width: 25%;
  background-color: var(--bg-color);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar li {
  width: 100%;
  height: 3rem;
}

.sidebar a {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

@keyframes abrirmenu {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.sidebar.abrir {
  animation: abrirmenu 0.2s;
}

.btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.btn img {
  background-color: #212121;
  border: 2px solid white;
  border-radius: 100%;
  padding: 10px;
  transition: 0.3s all ease;

  &:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
}

.score {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 35px;
}

.score span {
  font-size: 30px;
  color: white;
}

.data {
  font-size: 20px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.top {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease all;

  &:hover {
    color: var(--primary-color);
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2rem;
  margin-bottom: 7rem;
}

.content a {
  width: 20rem;
  min-width: 20rem;
}

.content a img {
  width: 100%;
  border: solid white 2px;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease 0.35s;
  &:hover {
    transform: scale(1.03) translate3d(0.3rem, 0.3rem, 0);
  }
}

.content p {
  font-size: 25px;
  max-width: 660px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 2rem;
}
